* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(46, 29, 7);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.input {
  background-color: rgba(153, 55, 13, 0.5);
  width: 40%;
  height: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  overflow: hidden;
}
/* .input:focus {
  outline: 0px solid transparent;
} */

.input > input {
  background-color: transparent;
  width: 80%;
  height: 100%;
  border: 0px solid transparent;
  outline: 0px solid transparent;
}
.input:hover {
  box-shadow: 0px 0px 9px rgb(178, 154, 154);
}
input + button {
  background-color: rgb(7, 86, 85);
  border: 0px solid transparent;
}
.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.links {
  display: flex;
  flex-direction: row;
  width: 24%;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  position: absolute;
  top: 1%;
  left: 3%;
  width: auto;
  filter: invert(97%);
  filter: contrast(3%);
  height: 61px;
}

hr {
  height: 18px;
  padding: 0;
}
.none {
  display: none !important;
}
.dropdown {
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .links {
    display: none;
  }
  .menu {
    width: 7%;
    justify-content: center;
    display: flex;
  }
  .dropdown {
    background-color: #642a0ae0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* transition: width 2s ease-in-out; */
    animation: widthi 0.9s ease-in-out;
  }
  @keyframes widthi {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  .dropdownlinks {
    display: flex;
    flex-direction: column;
    line-height: 5rem;
    font-size: 1.4rem;
    font-weight: 600;
    align-items: center;
    text-decoration: none;
  }
}
