.sidebar {
  background-color: #392d1b;
  width: 100px;
  height: 88.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.4s ease-out;
  z-index: 2;
  text-align: center;
  position: sticky;
  top: 70px;
}
.sidebar a {
  display: block;
  height: 80px;
}
a > svg {
  width: 50px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 1000;
  font-size: 1.3rem;
  justify-content: center;
  display: flex;
}
.activelink {
  text-decoration: none;
  color: rgb(236, 230, 230);
  font-weight: 1000;
  font-size: 1.3rem;
  justify-content: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.404);
}
.album {
  outline: 19px solid rgba(255, 255, 255, 0.404);
}
.music {
  outline: 23px solid rgba(255, 255, 255, 0.404);
}
.podcast {
  outline: 15px solid rgba(255, 255, 255, 0.404);
}
.navlink {
  outline: 11px solid rgba(255, 255, 255, 0.404);
}
.btn {
  background-color: transparent;
  outline: 0ch;
}
@media screen and (max-width: 750px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 60px;
  }
  .sidebar a {
    display: block;
    height: auto;
  }
  a > svg {
    width: 50px;
    text-align: center;
  }
  p {
    display: none;
  }
  .album {
    outline: 12px solid rgba(255, 255, 255, 0.404);
  }
  .music {
    outline: 12px solid rgba(255, 255, 255, 0.404);
  }
  .podcast {
    outline: 3.5px solid rgba(255, 255, 255, 0.404);
  }
  .navlink {
    outline: 18px solid rgba(255, 255, 255, 0.404);
  }
}
