.sidebar {
  background-color:#392d1b;
  width: 70px;
  height: 88.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.4s ease-out;
  z-index: 2;
  text-align: center;
}
.sidebar:hover {
  width: 160%;
}
p {
  position: absolute;
  left: -84px;
}
.sidebar:hover p {
  width: 20%;
  position: initial;
}

.sidebar a {
  display: block;
  height: 80px;
}
a > svg {
  width: 50px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 1000;
  font-size: 1.3rem;

  justify-content: center;
  display: flex;
}
.all {
  position: absolute;
}

@media screen and (max-width: 750px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    height: 60px;
  }
  p {
    position: absolute;
    /* left: -84px; */
  }
  .sidebar a {
    display: block;
    height: auto;
  }
  a > svg {
    width: 50px;
    text-align: center;
  }
  .sidebar:hover {
    width: 100vw;
  }
  .sidebar:hover p {
    width: 100vw;
    position: absolute;
    display: none;
  }
}
